*{
    margin: 0;
}
body{
    font-family: 'Inconsolata', monospace;
    
}
.hero{
    background: url('../img/2yob.jpg') no-repeat center;
    background-size: cover;
    padding-top: 500px;
    padding-bottom: 20px;
}

hr{
    border: 1px solid;
}
.hrblanco{
    border-color: white;
}
.hrnegro{
    border-color: black;
    width: 100px;
}
h1, h2{
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
}
h3{
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    font-size: 25px;
}