*{
    margin: 0;
}
body{
    font-family: 'Inconsolata', monospace;
    
}
.hero{
    background: url('../img/2yob.jpg') no-repeat center;
    background-size: cover;
    padding-top: 500px;
    padding-bottom: 20px;
}

hr{
    border: 1px solid white;
}
h1, h2{
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
}